# data files
*.log
logs-*
logs*
*.data
*.gz
*.tgz
.DS_Store
out*
*.zip*
*.out
*.csv
*.json
~*
*~
*.html
data
.zcache

metastore_db/

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IntelliJ
.idea/

# python
.ipynb_checkpoints
__pycache__/
*.pyc
